<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="favicon.ico" />
    <title><%= title %></title>
</head>
<body>
<div class="container">
    <div class="row main">
        <div class="col-12 col-lg-3 col-md-4 left">
            <header class="profile">
                <img src="./src/picture.jpg" class="mt-4" />
                <p class="display-6 mt-2 mb-2"><strong><%= name %></strong></p>
                <p class="display-6 pb-4 mb-4"><%= position %></p>
            </header>
            <section>
                <ul id="links" class="mb-4">
                    <li class="float-md-none float-left d-print-none hl"><i class="text-custom"><i class="fas fa-print"></i></i> <a href="./print.html" target="_blank">Print friendly</a></li>
                    <li class="float-md-none float-left"><i class="text-custom"><i class="fas fa-envelope"></i></i> <a href="mailto:<%= info.email %>"><%= info.email %></a></li>
                    <li class="float-md-none float-left"><i class="text-custom"><i class="fas fa-phone-alt"></i></i> <a href="tel:<%= info.mobile %>"><%= info.mobile %></a></li>
                    <li class="float-md-none float-left"><i class="text-custom"><i class="fab fa-linkedin-in"></i></i> <a href="<%= info.linkedin.link %>" target="_blank"><%= info.linkedin.alias %></a></li>
                    <li class="float-md-none float-left"><i class="text-custom"><i class="fab fa-github"></i></i> <a href="<%= info.github.link %>"><%= info.github.alias %></a></li>
                    <li class="clearfix d-md-hide"></li>
                </ul>
                <article class="mb-4">
                    <header><strong>Languages</strong></header>
                    <ul id="languages" class="pl-1">
                        <% _.forEach(languages, function(l) { %> <li class="float-left"><%- l.name %> <span>(<%- l.level %>)</span></li><% }); %>
                        <li class="clearfix d-md-hide"></li>
                    </ul>
                </article>
                <article class="mb-4">
                    <header><strong>Skills</strong></header>
                    <ul id="skills" class="pl-1">
                        <% _.forEach(skills, function(ss) { %>
                        <li><i><%- ss.category %></i></li>
                        <%  _.forEach(ss.skill, function(s, i) { %>
                        <li class="pl-1 float-md-none float-left <% if (i == _.size(ss.skill) - 1) { %>end<% } %>">
                            <%- s.name %>
                            <% if (_.size(s.instance)) { %>
                            <span>(<% _.forEach(s.instance, function(i, k) { %><%- i %><% if (k < _.size(s.instance) - 1) { %>, <%} }); %>)</span>
                            <% } %>
                        </li>
                        <%  }); %>
                        <li class="clearfix d-md-hide"></li>
                        <% }); %>
                    </ul>
                </article>
            </section>
        </div>
        <div class="col-12 col-lg-9 col-md-8 right p-4">
            <article>
                <header class="display-5">
                    <p>
                        <span><i class="fas fa-user-circle"></i> Personal Profile</span>
                    </p>
                </header>
                <div class="content">
                    <%  _.forEach(profile, function(p) { %>
                    <p><%- p %></p>
                    <% }); %>
                </div>
            </article>
            <article>
                <header class="display-5 mt-4">
                    <p>
                        <span><i class="fas fa-briefcase"></i> Career Summary</span>
                    </p>
                </header>
                <%  _.forEach(experience, function(e) { %>
                <article class="content">
                    <div class="d-lg-flex">
                        <div class="flex-lg-grow-1 display-7"><strong><%- e.role %></strong></div>
                        <div class="display-7 sub"><%- e.period %></div>
                    </div>
                    <div class="display-7 sub"><%- e.place %></div>
                    <ul class="">
                        <%  _.forEach(e.highlights, function(h) { %>
                        <% if (_.isString(h)) { %>
                        <li><%- h %></li>
                        <% } else { %>
                        <li>
                            <header>
                                <%- h.group %>
                            </header>
                            <ul>
                                <%  _.forEach(h.highlights, function(hl) { %>
                                <li><%- hl %></li>
                                <% }); %>
                            </ul>
                        </li>
                        <% } %>
                        <% }); %>
                    </ul>
                </article>
                <% }); %>
            </article>
            <article>
                <header class="display-5 mt-4">
                    <p>
                        <span><i class="fas fa-cubes"></i> Projects</span>
                    </p>
                </header>
                <%  _.forEach(projects, function(p) { %>
                <article>
                    <p class="display-7 pl-3"><strong><%- p.title %></strong> <a href="<%- p.link %>" target="_blank"><%- p.alias %></a> </p>
                    <ul>
                        <%  _.forEach(p.highlights, function(hl) { %>
                        <li><%- hl %></li>
                        <% }); %>
                    </ul>
                </article>
                <% }); %>
            </article>
        </div>
    </div>
</div>
</body>
</html>
