<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= title %></title>
</head>
<body>

<div class="container">
  <header>
    <div class="row align-items-center border-bottom border-custom pb-4">
      <div class="col-12 col-md-6">
        <p class="display-4 text-custom mb-2"><%= name %></p>
        <p class="display-5 text-custom mb-2"><%= position %></p>
      </div>
      <div class="col-12 col-md-6">
        <ul class="list-group flex-row-reverse external">
          <li class="list-group-item"><i class="text-custom"><i class="fas fa-user"></i></i> <%= info.birthdate %></li>
          <li class="list-group-item "><i class="text-custom"><i class="fas fa-map-marker-alt"></i></i> <%= info.location %></li>
          <li class="list-group-item "><i class="text-custom"><i class="fas fa-envelope"></i></i> <%= info.email %></li>
          <li class="list-group-item "><i class="text-custom"><i class="fas fa-phone-alt"></i></i> <%= info.mobile %> </li>
          <li class="list-group-item "><i class="text-custom"><i class="fas fa-globe-americas"></i></i> <%= info.website %> </li>
          <li class="list-group-item "><i class="text-custom"><i class="fab fa-linkedin-in"></i></i> <%- _.replace(_.replace(info.linkedin.link, 'http://', ''),'www.','') %></li>
          <li class="list-group-item "><i class="text-custom"><i class="fab fa-github"></i></i> <%- _.replace(_.replace(info.github.link, 'http://', ''),'www.','') %></li>
        </ul>
      </div>
    </div>
  </header>
  <section>
    <article class="mt-4">
      <header>
        <p class="display-5 text-custom ">Personal Profile</p>
      </header>
      <%  _.forEach(profile, function(p) { %>
      <p><%- p %></p>
      <% }); %>
    </article>
    <article class="mt-4">
      <header>
        <p class="display-5 text-custom">Technical Skills</p>
      </header>
      <div class="row">
        <% _.forEach(skills, function(ss, r) {
            if (r % 4 == 0) {
        %>
        <div class="col">
          <ul>
        <%
            }
        %>
            <li>
              <strong><%- ss.category %>:</strong>
              <%
                _.forEach(ss.skill, function(s, i) {
              %><%- s.name %><%
                  if (_.size(s.instance)) {
              %>(<% _.forEach(s.instance, function(i, k) { %><%- i %><% if (k < _.size(s.instance) - 1) { %>, <%} }); %>)<%
                  }
                  if (i < _.size(ss.skill) - 1) { %>, <% }
              %>
              <% }); %>
            </li>
        <%
          if (r % 4 == 3 || r == _.size(skills) - 1) {
        %>
          </ul>
        </div>
        <%
          }
       });
        %>


      </div>
    </article>

    <article class="mt-4">
      <header>
        <p class="display-5 text-custom ">Career Summary</p>
      </header>
      <%  _.forEach(experience, function(e) { %>
      <article>
        <header>
          <p class="display-6 pl-3"><strong><%- e.role %></strong> - <%- e.period %>, <%- e.place %></p>
        </header>
        <ul>
          <%  _.forEach(e.highlights, function(h) { %>
          <% if (_.isString(h)) { %>
          <li><%- h %></li>
          <% } else { %>
          <li>
            <header>
              <%- h.group %>
            </header>
            <ul>
              <%  _.forEach(h.highlights, function(hl) { %>
              <li><%- hl %></li>
              <% }); %>
            </ul>
          </li>
          <% } %>
          <% }); %>
        </ul>
      </article>
      <% }); %>
    </article>

    <article class="mt-4">
      <header>
        <p class="display-5 text-custom ">Projects</p>
      </header>
      <%  _.forEach(projects, function(p) { %>
      <article>
        <header>
          <p class="display-6 pl-3"><strong><%- p.title %></strong> - <%- _.replace(_.replace(p.link, 'http://', ''),'www.','') %></p>
        </header>
        <ul>
          <%  _.forEach(p.highlights, function(hl) { %>
          <li><%- hl %></li>
          <% }); %>
        </ul>
      </article>
      <% }); %>
    </article>

    <article class="mt-4">
      <header>
        <p class="display-5 text-custom ">Languages</p>
      </header>
      <ul>
        <% _.forEach(languages, function(l) { %> <li><%- l.name %> - <%- l.level %></li><% }); %>
      </ul>
    </article>
  </section>
</div>
</body>
</html>
